.image-slider {
    height: 92vh;
    width: 100vw;
}

.image-slider .slick-list {
    width: 100%;
}

.image-slider img {
    height: 92vh;
    border-radius: 0px;
    /* max-width: 1600px !important; */
}

.sectionslider {
    height: 330px;
    height: 96vh;
}