.image-slider {
    height: 92vh;
    width: 100%;
}

.image-slider .slick-list {
    width: 100vw;
}

.image-slider img {
    height: 92vh;
    border-radius: 0px;
    /* max-width: 1600px !important; */
}

/* @media screen and (min-width: 700px) {
    .slick-track:nth-child(0) {
        display: none !important;
    }
} */

.sectionslider {
    height: 330px;
    height: 96vh;
}

.image-slider .slick-slide {
    padding: 0;
    margin: 0;
}

.image-slider .slick-prev {
    left: 0px !important;
}

.image-slider .slick-next {
    right: 0px !important;
}