*,
*::before,
*::after {
    box-sizing: var(--border-sizing);
}

.img-slider-img {
    height: 500px;
    width: 800px !important;
    object-fit: cover;
    flex-grow: var(--percent-0);
    display: var(--display-block);
    flex-shrink: var(--percent-0);
    object-fit: var(--object-fit-cover);
}

.img-slider-btn {
    padding: 1rem;
    all: var(--unset);
    top: var(--percent-0);
    bottom: var(--percent-0);
    display: var(--display-flex);
    cursor: var(--cursor-pointer);
    position: var(--position-absolute);
    transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
    background-color: rgb(0, 0, 0, 0.2);
}

.img-slider-btn>* {
    width: 2rem;
    height: 2rem;
    fill: var(--black-color);
    stroke: var(--white-color);
}

.img-slider-dot-btn {
    all: unset;
    width: 1rem;
    height: 1rem;
    cursor: var(--cursor-pointer);
    display: var(--display-block);
    transition: scale 100ms ease-in-out;
}

.img-slider-dot-btn:hover,
.img-slider-dot-btn:focus-visible {
    scale: 1.2;
}

.img-slider-dot-btn>* {
    fill: var(--black-color);
    width: var(--percent-100);
    height: var(--percent-100);
    stroke: var(--white-color);
}

.img-slider-dot-btn:focus-visible,
.img-slider-btn:focus-visible {
    outline: var(--auto);
}

.skip-link {
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0, 0, 0, 0);
    overflow: var(--hidden);
    border: var(--percent-0);
    padding: var(--percent-0);
    position: var(--position-absolute);
}

.skip-link:focus-visible {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 100;
    padding: 0.5rem;
    clip: var(--unset);
    width: var(--auto);
    height: var(--auto);
    color: var(--black-color);
    text-decoration: var(--display-none);
    border: 1px solid var(--black-color);
    background-color: var(--white-color);
}

.img-slider-img {
    width: 100%;
    transition: transform var(--transition-medium) ease-in-out;
}

.slider-images {
    width: 600px !important;
    height: 390px !important;
    border-radius: 20px;
    /* object-fit: cover; */
}

.slide {
    display: flex;
    min-width: 100%;
    min-height: 600px;
    padding: 80px 20px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: #6451ce41;
    justify-content: space-between;
    box-sizing: var(--border-sizing);
    position: var(--position-relative);
    transition: transform var(--transition-medium) ease-in-out;
}

.slide h1 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2.2rem;
    margin-bottom: 16px;
}

.slide p {
    font-size: 1.2rem;
}


.img-slider-btn {
    z-index: 1;
    font-size: 2rem;
    top: var(--percent-50);
    color: var(--white-color);
    border: var(--display-none);
    display: var(--display-none);
    cursor: var(--cursor-pointer);
    background: var(--display-none);
    position: var(--position-absolute);
    transform: translateY(var(--percent-50));
}

.img-slider-dot-btn {
    border: 1px solid red;
    /* border: var(--display-none); */
    cursor: var(--cursor-pointer);
    /* background: var(--display-none); */
}

.img-slider-dot-btn>svg {
    fill: rgba(255, 255, 255, 0.5);
}

.img-slider-dot-btn:hover>svg,
.img-slider-dot-btn:focus>svg,
.img-slider-dot-btn>svg {
    fill: rgba(255, 255, 255, 1);
}

.skip-link {
    top: -40px;
    padding: var(--8-px);
    left: var(--percent-0);
    color: var(--white-color);
    background: var(--black-color);
    position: var(--position-absolute);
    text-decoration: var(--display-none);
}

.skip-link:focus {
    top: var(--percent-0);
}

.slider-button {
    width: 160px;
    height: 50px;
    margin-top: 30px;
    border-radius: 25px;
    font-size: var(--16-px);
    color: black;
    border: 1px solid red;
    transition: var(--transition-medium);
    /* background-color: var(--transparent); */
}

.slider-button:hover {
    background-color: var(--main-blue-color);
    border: 2px solid var(--main-blue-color);
}

@media not (prefers-reduced-motion) {
    .img-slider-img {
        transition: translate 300ms ease-in-out;
    }

    .img-slider-btn:hover>*,
    .img-slider-btn:focus-visible>* {
        animation: squish 200ms ease-in-out;
    }
}

@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}

.slide-caption.active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 3s ease, transform 3s ease;
}

@media screen and (min-width:1270px) {
    .slider-button {
        width: 200px;
        height: 60px;
        border-radius: var(--30-px);
    }
}

.slide-caption {
    height: 240px;
    bottom: var(--percent-30);
    display: var(--display-flex);
    align-items: var(--display-center);
    flex-direction: var(--flex-direction-column);
    justify-content: var(--display-space-between);
}

@media screen and (min-width:1000px) {
    .img-slider-btn {
        display: flex;
        margin: 20px;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        top: 36%;
        bottom: 0;
        position: absolute;
    }
}

@media screen and (min-width:800px) {
    .slide {
        flex-direction: row;
        justify-content: space-around;
        min-height: 500px;
        min-height: 92vh;
        position: relative;
    }

    .slide img {
        width: 400px;
    }

    .slider-text-holder {
        max-width: 440px;
    }
}