.custom-slides {
    display: flex;
    position: relative;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.custom-slider{
    position: relative;
}

.custom-slide {
    position: relative;
    min-width: 90vw;
}

.custom-slide img {
    width: 100%;
    height: auto;
}

.custom-slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.custom-slide-content p {
    display: none;
    margin-top: 10px;
}

.custom-slide:hover .custom-slide-content p {
    display: block;
    transform: translateX(-100%);
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-prev {
    left: 10px;
}

.custom-next {
    right: 10px;
}

.custom-dots {
    text-align: center;
    padding: 10px 0;
}

.custom-dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.custom-active-dot {
    background-color: #6351CE;
}

@media screen and (max-width: 768px) {
    .custom-slide {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .custom-slide {
        width: 100%;
    }
}