.custom-slider {
    overflow: hidden;
    position: relative;
}

.slick-slide {
    outline: none;
    position: relative;
    border-radius: 20px;
    object-fit: contain !important;
}

.slick-slide img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.slick-slide-content {
    /* left: 2px; */
    bottom: 20px;
    color: white;
    max-height: 94px;
    /* Initial height showing only h1 */
    /* max-width: 392px; */
    max-width: 99%;
    padding: 10px 20px;
    position: absolute;
    transform: translateY(20px);
    /* Ensure it starts at the bottom */
    transition: 0.5s !important;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 0, 0, 0.601);
}

.slick-slide-content h1 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    transition: transform 0.5s ease-in-out;
}

.slick-slide-content p {
    opacity: 0;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    transform: translateY(100px);
    /* Initially hidden below the h1 */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* On hover, expand the content and show the p tag */
.slick-slide:hover .slick-slide-content {
    max-height: 180px;
    /* Expanded height to show both h1 and p */
    transform: translateY(20px);
    /* Slide up the content */
}

.slick-slide:hover .slick-slide-content h1,
.slick-slide:hover .slick-slide-content p {
    transform: translateY(0);
    /* Move both h1 and p up */
}

.slick-slide:hover .slick-slide-content p {
    opacity: 1;
    /* Fade in the p tag */
}

/* Slick arrows */
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    width: 26px;
    border: none;
    height: 50px;
    display: flex;
    padding: 10px;
    z-index: 99999;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: rgb(167, 11, 11);
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}

.slick-prev {
    left: 4px !important;
}

.slick-next {
    right: 4px !important;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover {
    background-color: black;
}

.slick-arrow.slick-next::before,
.slick-arrow.slick-prev::before {
    display: none;
}

/* Slick dots */
.slick-dots {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex !important;
    margin: 10px 0 !important;
    position: relative !important;
    align-items: center !important;
    justify-content: center !important;
}

.marginbottom{
    margin-top: 20px !important;
    margin-bottom: -20px !important;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots button {
    margin: 0;
    padding: 0;
    border: none;
    z-index: 9999;
    display: block;
    cursor: pointer;
    top: 0 !important;
    border-radius: 50%;
    bottom: 0 !important;
    width: 10px !important;
    height: 10px !important;
    position: absolute !important;
    background-color: var(--main-purple-color);
}

.slick-dots .slick-active button {
    background-color: var(--main-purple-color) !important;
}

.slick-dots button:hover {
    background-color: var(--main-purple-hover-color) !important;
}

@media screen and (max-width: 768px) {
    .slick-slide {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    .slick-slide {
        width: 100%;
    }
}

.slick-dots li.slick-active button:before {
    color: transparent !important;
}

.slick-dots button:before {
    color: transparent !important;
}

.slick-dots button {
    background-color: #CCD6EA !important;
}

.slick-dots button::before {
    display: none;
    background-color: #b2abda !important;
}

.slick-dots li {
    height: 12px !important;
    display: flex !important;
    margin-top: -30px !important;
    align-items: center !important;
    justify-content: center !important;
}

.slick-slide {
    outline: none;
    /* Add padding to create space between slides */
    position: relative;
    padding: 0 2px;
}

.slick-list {
    flex-direction: column !important;
    display: flex !important;
    margin: 0 -2px;
    /* Negative margin to counteract the padding on the slides */
    width: min(1200px, 84vw);
}