/* General Styling */
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f7f8fa;
  font-family: Arial, sans-serif;
}

/* Container for the articles */
.article-container {
  max-width: 740px;
  margin: 20px auto;
}

.article-list {
  gap: 20px;
  display: flex;
  flex-direction: column;
}

/* Individual article card */
.article-card {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  transition: transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-card:hover {
  transform: scale(1.02);
}

/* Image styling */
.article-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content styling */
.article-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-date {
  color: #999;
  font-size: 14px;
}

.article-title {
  color: #333;
  margin: 10px 0;
  font-size: 20px;
}

.article-description {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.article-category {
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  background-color: #6351CE;
}

.article-image {
  display: flex;
  min-width: 220px;
  max-width: 220px;
  min-height: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
}

.read-more {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6351CE;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #4a39a7;
}

/* Load More button styling */
.load-more-container {
  margin: 20px 0;
  text-align: center;
}

.load-more {
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #6351CE;
  transition: background-color 0.3s;
}

.load-more:hover {
  background-color: #4a39a7;
}

/* Disabled state for the Load More button */
.load-more.disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.load-more.disabled:hover {
  background-color: #ccc;
}
