.sectionslider {
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

body{
    margin: 0;
}

.sectionslider::after {
    content: "";
    position: absolute;
    background-color: #CCD6EA;
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
}

.sectionslider::before {
    content: "";
    position: absolute;
    background-color: #CCD6EA;
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
}

.sectionsecond{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.sectionthird{
    display: flex;
    margin: auto;
    justify-content: space-between;
    max-width: 1200px;
    /* justify-content: flex-start !important; */
}