.language-dropdown {
    width: 40px;
    display: var(--display-flex);
    box-sizing: var(--content-sizing);
    align-items: var(--display-center);
    border: 1px solid var(--gray-color);
    justify-content: var(--display-center);
}

.dropdown-toggle {
    padding: var(--10-px);
    border: var(--display-none);
    display: var(--display-flex);
    cursor: var(--cursor-pointer);
    align-items: var(--display-center);
    background-color: var(--transparent);
}

.language-menu {
    top: 50px;
    z-index: 1;
    width: 40px;
    background-color: #1C2331;
    display: var(--display-flex);
    align-items: var(--display-center);
    position: var(--position-absolute);
    background-color: var(--white-color);
    justify-content: var(--display-center);
    flex-direction: var(--flex-direction-column);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.language-menu li {
    width: 40px;
    height: 40px;
    display: var(--display-flex);
    cursor: var(--cursor-pointer);
    align-items: var(--display-center);
    justify-content: var(--display-center);
}

.language-menu li:hover {
    background-color: var(--gray-color);
}

.flag {
    width: 20px;
}