.sticky-part {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
    align-items: center;
}

.sticky-part-right {
    right: 0px;
    gap: 20px;
    display: flex;
    position: absolute;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: -6px;
}

.menu-ul-desktop {
    width: 100%;
    margin: 0 auto;
    display: none;
    list-style: none;
    font-size: 15px;
    padding: 0 260px 0 80px;
    justify-content: space-between;
    font-family: var(--Open-font-family);
}

.menu-ul {
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    top: 60px;
    width: 100vw;
    height: 200px;
    border: 2px solid red;
    list-style: none;
    position: absolute;
    z-index: 999;
    transform: translateY(70px);
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    flex-direction: column;
    justify-content: space-around;
}

.menu-ul::before{
    content: "";
    position: absolute;
    background-color: #fff;
    right: 0;
    z-index: -1;
    width: 1000000vw;
    top: -10px;
    height: 100vh;
}

.menu-ul.active {
    background-color: #fff;
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
}


.menu-ul li {
    gap: 10px;
    height: 50px;
    display: flex;
    padding: 0 20px;
    align-items: center;
}

.menu-ul li:hover {
    background-color: lightgray;
}

.menu-ul a,
.menu-ul-desktop a {
    width: 100%;
    height: 100%;
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
}

.menu-ul-desktop span:hover {
    margin-top: 1px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

#checkbox {
    display: none;
}

.toggle {
    width: 40px;
    margin: auto;
    display: block;
    cursor: pointer;
    position: relative;
    height: calc(4px * 3 + 11px * 2);
}

.bar {
    left: 0;
    right: 0;
    opacity: 1;
    height: 4px;
    color: inherit;
    position: absolute;
    background-color: black;
    border-radius: calc(4px / 2);
    transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

.hamburger-menu {
    display: flex;
}

/***** Spin Animation *****/

.bar--top {
    bottom: calc(50% + 5px + 2px/ 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

.bar--middle {
    top: calc(50% - 4px/ 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
}

.bar--bottom {
    top: calc(50% + 5px + 2px/ 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
}

#checkbox:checked+.toggle .bar--top {
    bottom: calc(50% - 4px/ 2);
    transform: rotate(135deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--middle {
    opacity: 0;
    transition-duration: 0s;
    transition-delay: calc(0s + 0.35s);
}

#checkbox:checked+.toggle .bar--bottom {
    top: calc(50% - 4px/ 2);
    transform: rotate(225deg);
    transition-delay: 0s, calc(0s + 0.35s);
}

@media screen and (min-width:900px) {
    .hamburger-menu {
        display: none;
    }

    .menu-ul {
        display: none;
    }

    .menu-ul-desktop {
        display: flex;
    }
}