.footer-container {
    margin-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    font-family: var(--Open-font-family);
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer {
    text-align: center;
    color: white;
    background-color: #1c2331;
    position: relative;
}

.video {
    width: 200px;
    height: 200px;
    margin-top: -16px;
    object-fit: cover;
    border-radius: 120px;
}

.footer::after {
    content: "";
    position: absolute;
    background-color: #1c2331;
    z-index: -2;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
}

.footer::before {
    content: "";
    position: absolute;
    background-color: #1c2331;
    z-index: -2;
    width: 100vw;
    height: 100%;
    top: 0;
    right: 0;
}

.social-media {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #6351ce;
    position: relative;
}

body {
    overflow-x: hidden;
}

.social-media::before {
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #6351ce;
    z-index: -1;
}

.social-media::after {
    content: "";
    height: 100%;
    width: 100vw;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-color: #6351ce;
}

.social-media-text {
    margin-right: 2rem;
}

.social-media-icons .social-icon {
    margin-right: 1rem;
    color: white;
    text-decoration: none;
}

.footer-links {
    margin-top: 5rem;
}

.footer-column {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.footer-title {
    text-transform: uppercase;
    font-weight: 900;
}

.footer-hr {
    width: 60px;
    background-color: #7c4dff;
    height: 2px;
    margin: 0.5rem auto;
}

.footer-link {
    color: white;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-column p {
    margin: 0.5rem 0;
}

.footer-column i {
    margin-right: 0.5rem;
}

.footer-copyright {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

.footer-copyright::after {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.footer-copyright::before {
    position: absolute;
    content: "";
    z-index: -1;
    width: 100vw;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    right: 0;
}