.scroll-to-top {
    width: 35px;
    color: #fff;
    right: 2rem;
    bottom: 2rem;
    height: 40px;
    border: none;
    position: fixed;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--main-purple-color);
  }
  
  .scroll-to-top:hover {
    background-color: var(--main-purple-hover-color);
  }
  
  .scroll-to-top.hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scroll-to-top.visible {
    opacity: 1;
  }
  